html {
  height: 100%;
}

body{
  font-family: bodoni;
  /* height: 1000px;
  width: 100%; */
}

main{
  justify-content: center;
  text-align: center;
    position: center;
    position: relative;
    height: 50px;
}

#page-length{
  height: 700px
}

.single-div-length{
  height: 500px
}

.card{
  text-align: center;
  border: #ff6cc6 solid 1px;
  padding: 1rem;
  width: 16rem;
  height: 23rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px black;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 17px;
  
  /* justify-self: center; */
}
#current-user{
  position: relative;
  left: -587px;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
}

.card:hover{
  transform: translate3D(0,-1px,0) scale(1.10);
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); */
}

.image-avatar{
  justify-self: center;
  height: 12rem;
  width: auto;
}

#container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: inline-block;
    background: white;
  }

  .topnav {
  float: none;
  position: relative;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);

    display: none;
    overflow: hidden;
    /* margin-top:30px; */
    /* position: relative; */ 
    /* background-color: black; */
  }
  
  .nav-menu {
    /* justify-self: center; */
    float: center;
    color: #ff6cc6;
    text-align: center;
    padding: 10px 40px;
    width: 17%;
    text-decoration: none;
    font-size: 17px;
    border: black;
    cursor: pointer;
  }

  #about{
    display: inline-block;
  }

  #about:hover{
    color: #ff6cc6;
  
  }
  
  #contact{
    display: inline-block;
  }

  #contact:hover{
    color: #ff6cc6;
    
  }

  #FAQ{
    display: inline-block;
  }

  #FAQ:hover{
    color: #ff6cc6;
   
  }

  .footer-menu{
    justify-content: center;
    text-align: center;
    /* position: center; */
    position: relative;
    /* height: 50px; */
    font-size: 19px;
    cursor: pointer;
  }
  
  .topnav button:hover {
    background-color: #ff6cc6;
    /* color: white; */
    color: black;
  }
  

  .nav-menu{
    /* background-color: #ff6cc6; */
    background-color: black;
  }

  #header{
    color: black;
    display: flex;
    justify-content: center;
    background: white;
    position: relative;

  }

  .submit{
    background-color: white;
  color: black;
  border: 2px solid #ff6cc6;
  cursor: pointer;
  }

  .submit:hover{
    background-color: #ff6cc6; 
  color: black
  }

  .sign-login-form {
    color: black;
    justify-content: center;
    font-size: 30px;
    /* font-family: bodini; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "Lucida Console", Courier, monospace;  */
    /* font-family: "Times New Roman", Times, serif; */
    
  }

  .sign-login-form:hover{
    color: #ff6cc6;
    
  }

  .reg-button{
  background-color: white;
  color: black;
  border: 2px solid #ff6cc6;
  cursor: pointer;
  }

  .reg-button:hover{
    background-color: #ff6cc6; 
    color: black
  }

  /* .rented-hover:hover{
    background-color: red; 
    color: black
  } */

  .rented-hover{
    background-color: rgb(202, 202, 202);
  color: black;
  border: 2px solid #ff6cc6;
 
  }

  select{
  background-color: black;
  color: #ff6cc6;
  padding: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  }

  select:hover{
    color: black;
     background-color: #ff6cc6
  }

.drop-down-div{
  position: relative;
  display: inline-block;
}

  .form{
    margin: 30px 0;
  }

  input[type=text]{
    border: none;
  border-bottom: 2px solid #ff6cc6;
  }

  input[type=number]{
    border: none;
  border-bottom: 2px solid #ff6cc6;
  }

  input{
    width: 12%;
    padding: 8px;
  }

  #balance-label{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .image-div{
    -webkit-box-align: center !important; 
     display: flex !important;
    align-items: center !important;
    width: 100% !important;
    height: 100% !important;  
    float: left;
    position: relative;
    left: 425px;
    
    display: flex;
    height: 33rem;
    max-width: 70rem;
  } 

  .detail-div{
    float: right;
    padding: 0 2rem;
    padding-top: 0px;
    padding-right: 2rem;
    padding-bottom: 0px;
    padding-left: 2rem;
    width: 42rem;
    position: relative; top: 120px;
    right: 200px;
    
    /* margin-top: -1000; */
  }


.designer-name{
  font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.bagP{
  font-size: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
}

/* #view-bag{
  height: 400px
} */
  